form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}

.flex{
    display: block;
}

.left{
    
    text-align: left;
    vertical-align: bottom;
    color: gray;
}

.right{
    text-align: right;
    vertical-align: bottom;
    color: gray;
}